<section class="bg-zinc-900 p-8 md:p-12 rounded-xl my-20">
    <h2 class="text-5xl font-bold mb-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut earum reprehenderit animi magnam similique dolorum. Optio omnis nisi numquam, debitis amet blanditiis, deleniti recusandae ab dignissimos consequuntur ducimus ex consequatur.</p>   
</section>

