<header class="bg-zinc-900 flex flex-col md:flex-row p-10 pt-20 md:p-20 gap-10 text-center md:text-left rounded-xl">
  <div>
    <h1 class="text-5xl md:text-6xl font-bold">Protect your Password</h1>
    <p class="my-7 text-1xl">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto molestias quisquam labore ratione natus consequuntur autem, in ipsum temporibus doloribus.
    </p>
    <button class="cursor-pointer transition-color duration-100 ease-in-out bg-indigo-500 px-4 py-3 hover:bg-indigo-400">Start Now</button>
</div>
<img src="fingerprint.svg" alt="" class="w-100" />
</header>
