---
import Layout from "../layouts/layout.astro"
---

<Layout title="About">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quo nobis alias a quasi non nihil aliquid laboriosam fugiat quis beatae odio, sequi deleniti expedita inventore quisquam reprehenderit tempora delectus!</p>
</Layout>